*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: #ededed;
    background-color: #081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background-color: black; */
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.cursor-hover{
    height: 20px;
    width: 20px;
    background-color: #e7f125;
    border-radius: 50%;
    display: flex;
    position: relative;    
}
.navbar a:hover{
    color: #A6F6FF;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;

    height: 100vh;
    background: url(../public/Ankush_cover.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-cont{
    max-width: 900px;   
}
.home-cont h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-cont h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-cont h3 span{
    color: #0ef;
}
.home-cont h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-cont p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    margin: 30px 15px 30px 0;

}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #A6F6FF;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    padding-bottom: 10%;
    max-width: 830px;
    height: 800px;
    width: 90%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;

}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600px;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #0053b8f7
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.read{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.services-list div:hover{
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 75%;
    height: 600px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.techinal-bars .bar{
    margin-top: 40px 0;
}
.techinal-bars .bar:first-child{
    margin-top: 0;
}
.techinal-bars .bar:last-child{
    margin-bottom: 0;
}
.techinal-bars .bar .info{
    margin-bottom: 5px;
}
.techinal-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
animation: showText 0.5s 1s linear forwards ;
opacity: 0;
}
.techinal-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5.1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.techinal-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5.1) forwards;
    transform: scaleX(0);
    transform-origin: left; 
}
.progress-line.html span{
    width: 85%;
}
.progress-line.css span{
    width: 90%;
}
.progress-line.javascript span{
    width: 85%;
}
.progress-line.Python span{
    width: 90%;
}
.progress-line.ML span{
    width: 80%;
}
.progress-line.react span{
    width: 80%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.ML span::after{
    content: "80%";
}
.progress-line.html span::after{
    content: "85%";
}
.progress-line.css span::after{
    content: "90%";
}
.progress-line.javascript span::after{
    content: "85%";
}
.progress-line.Python span::after{
    content: "90%";
}
.progress-line.react span::after{
    content: "80% TREE";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

.main-text{
    /* padding-top: 1   0px; */
    margin-top: 100px;
    padding-bottom: 30px;
}
.main-text h2{
    padding-bottom: 130px;
    font-size: 60px;
    line-height: 1;
    text-align: center;   
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px ,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: white;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.layer p{
    color: white;
    font-size: 1rem;
    line-height: 1.2;
}
.layer i{
    color: #ff044f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2{
    font-size: 40px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228,228);
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 2rem;
}
.contact-text p{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icon i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.contact-icon i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    margin-top: 15px;

    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85,91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.9rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}










@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar .fas{
    display: none;
}

@media only screen and (max-width:600px){
    .body{
        overflow-x: hidden;
   
    }
    .home{
        width: 100vw;
        background-image: url(../public/ankush_small.jpeg);
        background-size: cover;
    }
        .home-cont{
        margin-top: 60%;
        font-size: 12px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .home-cont h3{
        font-size: 25px;
        color: #fff;
    }
    .home-cont h1{
        font-size: 25px;
    }
    .home-cont p{
         font-size: 20px;
    }
.navbar .fas{
    display: block;
    font-size: 15px;
}
.about{
    padding: 30px;
    margin: 20px;
    display: flex;
    width: calc(100% -40px);
    box-sizing: border-box;
}
.about .about-img{
    padding-left: 25%;
    background-size: cover;
    display: flex;
    
}
.about .about-img img{
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 0px;
    /* width: 100%; */
    border-radius: 10px;
    
}
.navbar ul{
    background: #081b29;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
.navbar ul a{
    display: block;
    margin: 25px;
}
.navbar ul .fas{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.services-list{
    padding: 30px;
}
.services-list h1{
    padding: 20px;
    width: 80%;
    justify-content: center
}
.container{
    height: auto;
    width: calc(100% -20px);
    padding: 20px 10px;
    margin-left: 25px;
}
.container1{
    height: auto;
    width: calc(100% -20px);
    padding: 20px 10px;
    margin-left: 25px;
}
.contact{
    display: block;
}
    
}